services:
  granary:
    image: ghcr.io/zhaofengli/attic:c1cfee9b63e48d9cee18e538ca32f1721078de91
    container_name: granary
    restart: unless-stopped
    ports: ["8080:8080"]
    volumes:
      - ./server.toml:/granary/server.toml:ro
    env_file: .env
    command: ["-f", "/granary/server.toml", "--mode", "monolithic"]
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  # Create admin and read-only tokens, create and configure the attic cache, and
  # write the tokens to `./secrets`.
  bootstrap:
      build:
        context: .
        dockerfile: Dockerfile.bootstrap
      container_name: bootstrap
      depends_on:
        - granary
      restart: "no"
      volumes:
        - ./server.toml:/granary/server.toml:ro
        - ./secrets:/out
      env_file: .env
      environment:
        - HOST_UID=${UID:-1000}
        - HOST_GID=${GID:-1000}
