listen = "[::]:8080"
require-proof-of-possession = false

[database]
heartbeat = true

[storage]
type = "s3"
region = ""
bucket = ""
endpoint = ""

[chunking]
nar-size-threshold = 65536
min-size = 16384
avg-size = 65536
max-size = 262144

[compression]
type = "zstd"

[garbage-collection]
interval = "90 days"
